## Creating a Table using psycopyg2 - PostgreSQL database adapter for the Python

In [88]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\shara\anaconda3\lib\site-packages (2.9.5)

## Import the libraries

In [89]:
import psycopg2
import pandas as pd
import numpy as np
from psycopg2.extensions import register_adapter, AsIs
psycopg2.extensions.register_adapter(np.int64, psycopg2._psycopg.AsIs)

## Create a connection to the database

In [90]:
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

## Use the connection to get a cursor that can be used to execute queries.

In [91]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

## Set automatic commit to be true so that each action is committed without having to call conn.commit() after each command.

In [92]:
conn.set_session(autocommit=True)

## Create a database to do the work - carsales database

In [93]:
try: 
    cur.execute("create database carsales")
except psycopg2.Error as e:
    print(e)

database "carsales" already exists

## Close our connection to the default database, reconnect to the carsales database and get a new cursor

In [94]:
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try: 
    conn = psycopg2.connect("host=127.0.0.1 dbname=carsales user=postgres password=root")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

## Create Table for cars which includes below columns

(Purchase_Date , Customer_Name , Dealer_Name,  Company , Model , Year , Body_Style , Engine , Transmission , Color , Price_in_thousands , Dealer_Add , Customer_Address , CouncilArea , Phone , Gender , Annual_Income , Dealer_Location , Dealer_No  , Dealer_Region)

In [95]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS cars (Purchase_Date varchar, Customer_Name varchar, Dealer_Name varchar, Company varchar, Model varchar, Year int, Body_Style varchar, Engine varchar, Transmission varchar, Color varchar, Price_in_thousands int, Dealer_Add varchar, Customer_Address varchar, CouncilArea varchar, Phone int, Gender varchar, Annual_Income int, Dealer_Location varchar, Dealer_No  varchar, Dealer_Region varchar);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

In [96]:
try: 
    cur.execute("DELETE FROM cars")    
except psycopg2.Error as e: 
        print("Error: Inserting Rows")
        print (e)

In [97]:
df = pd.read_excel("https://github.com/sharatainapur/Data-Engineer-Series/blob/acb30b68a89ec99897e737793aa83e98c61a5d99/Car%20Sales.xlsx?raw=True")
df.head()

,Date,Customer Name,Dealer_Name,Company,Model,Year,Body Style,Engine,Transmission,Color,Price in thousands,Dealer_Add,Customer Address,CouncilArea,Phone,Gender,Annual Income,Dealer_Location,Dealer_No,Dealer_Region
0,2016-03-09 00:00:00,Geraldine,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,2015,SUV,DoubleÂ Overhead Camshaft,Auto,Black,26,44 Walnut St,68 Studley St,Yarra City Council,8264678,Male,13500,44 Walnut St,06457-3834,Middletown
1,2016-03-12 00:00:00,Gia,C & M Motors Inc,Dodge,Durango,2015,SUV,DoubleÂ Overhead Camshaft,Auto,Black,19,4333 Ogden Ave,85 Turner St,Yarra City Council,6848189,Male,1480000,4333 Ogden Ave,60504-7114,Aurora
2,2016-04-02 00:00:00,Gianna,Capitol KIA,Cadillac,Eldorado,2015,Passenger,Overhead Camshaft,Manual,Red,31,3 Green Tree Trl,25 Bloomburg St,Yarra City Council,7298798,Male,1035000,3 Green Tree Trl,38701-8047,Greenville
3,2016-04-02 00:00:00,Giselle,Chrysler of Tri-Cities,Toyota,Celica,2016,SUV,Overhead Camshaft,Manual,Pale White,14,3203 W Marie St,18/659 Victoria St,Yarra City Council,6257557,Male,13500,3203 W Marie St,99301-3882,Pasco
4,2017-04-03 00:00:00,Grace,Chrysler Plymouth,Acura,TL,2015,Hatchback,DoubleÂ Overhead Camshaft,Auto,Red,24,6137 S Us-51,5 Charles St,Yarra City Council,7081483,Male,1465000,6137 S Us-51,53546-9427,Janesville

In [98]:
df.shape

(34732, 20)

In [99]:
print(df.iloc[0])

Date                                  2016-03-09 00:00:00
Customer Name                                   Geraldine
Dealer_Name           Buddy Storbeck's Diesel Service Inc
Company                                              Ford
Model                                          Expedition
Year                                                 2015
Body Style                                            SUV
Engine                          DoubleÂ Overhead Camshaft
Transmission                                         Auto
Color                                               Black
Price in thousands                                     26
Dealer_Add                                   44 Walnut St
Customer Address                            68 Studley St
CouncilArea                            Yarra City Council
Phone                                             8264678
Gender                                               Male
Annual Income                                       13500
Dealer_Location                              44 Walnut St
Dealer_No                                      06457-3834
Dealer_Region                                  Middletown
Name: 0, dtype: object

In [100]:
df.Date=df.Date.astype(str)

In [101]:
df.head()

,Date,Customer Name,Dealer_Name,Company,Model,Year,Body Style,Engine,Transmission,Color,Price in thousands,Dealer_Add,Customer Address,CouncilArea,Phone,Gender,Annual Income,Dealer_Location,Dealer_No,Dealer_Region
0,2016-03-09 00:00:00,Geraldine,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,2015,SUV,DoubleÂ Overhead Camshaft,Auto,Black,26,44 Walnut St,68 Studley St,Yarra City Council,8264678,Male,13500,44 Walnut St,06457-3834,Middletown
1,2016-03-12 00:00:00,Gia,C & M Motors Inc,Dodge,Durango,2015,SUV,DoubleÂ Overhead Camshaft,Auto,Black,19,4333 Ogden Ave,85 Turner St,Yarra City Council,6848189,Male,1480000,4333 Ogden Ave,60504-7114,Aurora
2,2016-04-02 00:00:00,Gianna,Capitol KIA,Cadillac,Eldorado,2015,Passenger,Overhead Camshaft,Manual,Red,31,3 Green Tree Trl,25 Bloomburg St,Yarra City Council,7298798,Male,1035000,3 Green Tree Trl,38701-8047,Greenville
3,2016-04-02 00:00:00,Giselle,Chrysler of Tri-Cities,Toyota,Celica,2016,SUV,Overhead Camshaft,Manual,Pale White,14,3203 W Marie St,18/659 Victoria St,Yarra City Council,6257557,Male,13500,3203 W Marie St,99301-3882,Pasco
4,2017-04-03 00:00:00,Grace,Chrysler Plymouth,Acura,TL,2015,Hatchback,DoubleÂ Overhead Camshaft,Auto,Red,24,6137 S Us-51,5 Charles St,Yarra City Council,7081483,Male,1465000,6137 S Us-51,53546-9427,Janesville

In [102]:
tuple(df.iloc[1].to_list())

('2016-03-12 00:00:00',
 'Gia',
 'C & M Motors Inc',
 'Dodge',
 'Durango',
 2015,
 'SUV',
 'DoubleÂ\xa0Overhead Camshaft',
 'Auto',
 'Black',
 19,
 '4333 Ogden Ave',
 '85 Turner St',
 'Yarra City Council',
 6848189,
 'Male',
 1480000,
 '4333 Ogden Ave',
 '60504-7114',
 'Aurora')

### Insert the rows from xlsx file to the database

In [103]:
len(df)

34732

In [104]:
temp_tuple=""
for i in range(len(df)):
    temp_tuple=tuple(df.iloc[i].to_list())
    
    try: 
        cur.execute("INSERT INTO cars (Purchase_Date , Customer_Name , Dealer_Name,  Company , Model , Year , Body_Style , \
    Engine , Transmission , Color , Price_in_thousands , Dealer_Add , Customer_Address , CouncilArea , Phone , Gender , Annual_Income , Dealer_Location , Dealer_No  , Dealer_Region) \
                 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", 
                 temp_tuple)
    
    except psycopg2.Error as e: 
        print("Error: Inserting Rows")
        print (e)

## Validate your data was inserted into the table.

In [105]:
try: 
    cur.execute("SELECT COUNT(*) FROM cars;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(34732,)

##  And finally close your cursor and connection.

In [106]:
cur.close()
conn.close()